<h1>Add Post</h1>

<form action="<%= posts_url %>" method="post">
  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token  %>">

  <% Sub.all.each do |subb| %>
  <label><%= subb.title %>
    <input type="checkbox"
            value="<%= subb.id %>"
            name="post[sub_ids][]"
            <%= "checked" if @post.sub_ids.include?(subb.id) %>>
  </label>
<% end %>


  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <label>URL
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>

  <label>Content
    <textarea name="post[content]" rows="8" cols="80"><%= @post.content %></textarea>
  </label>

  <input type="submit" value="Create Post">
</form>
